*.iml
.gradle
/local.properties
/captures
.idea
imagelib/build
mgevent/build
danmaku/build
mgwebview/build
playerauth/build
soupdate/build
mgtv_support/build/
/build/
/build
.DS_Store
*/.DS_Store
*/build
mglive/*/build/
mgtv/bonree.txt
/bonree.txt
bonree.txt
.project
*/.classpath
**/.settings
target